basePath: /
definitions:
  busi.CirculatingSupply:
    properties:
      burnt_fil:
        type: number
      burnt_fil_increase:
        type: number
      circulating_fil:
        type: number
      circulating_fil_increase:
        type: number
      locked_fil:
        type: number
      locked_fil_increase:
        type: number
      mined_fil:
        type: number
      mined_fil_increase:
        type: number
      reserve_disbursed_fil:
        type: number
      reserve_disbursed_fil_increase:
        type: number
      stat_date:
        type: string
      vested_fil:
        type: number
      vested_fil_increase:
        type: number
    type: object
  utils.ResponseWithRequestId:
    properties:
      code:
        type: integer
      data: {}
      message:
        type: string
      request_id:
        type: string
    type: object
host: block-api.spacescope.io
info:
  contact:
    email: xueyou@starboardventures.io
    name: xueyouchen
  description: spacescope block explorer api server
  termsOfService: http://swagger.io/terms/
  title: api server
  version: "1.0"
paths:
  /api/v1/ping:
    get:
      consumes:
      - application/json
      - application/json
      description: Healthy examination
      produces:
      - application/json
      - application/json
      responses:
        "200":
          description: pong
          schema:
            type: string
        "500":
          description: error:...
          schema:
            type: string
      tags:
      - Sys
  /v1/network_core/circulating-supply/circulating_supply:
    get:
      consumes:
      - application/json
      - application/json
      description: List table circulating_supply
      parameters:
      - description: user_id
        in: header
        name: user_id
        required: true
        type: string
      - description: authorization
        in: header
        name: authorization
        required: true
        type: string
      - example: "2022-07-01"
        in: query
        name: end_date
        type: string
      - example: "2022-06-01"
        in: query
        name: start_date
        type: string
      produces:
      - application/json
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/busi.CirculatingSupply'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/utils.ResponseWithRequestId'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/utils.ResponseWithRequestId'
      tags:
      - DATA-INFRA-API-External-V1
swagger: "2.0"
